<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.dicodingandroid">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DicodingAndroid">
    <activity
        android:name="com.example.room.ui.insert.NoteAddUpdateActivityRoom"
        android:exported="false"

        />
    <activity
        android:name="com.example.room.ui.main.MainActivityRoom"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.example.noteapp.ui.NoteAddUpdateActivity"
        android:exported="false" />
    <activity
        android:name="com.example.noteapp.ui.MainActivityNoteApp"
        android:exported="true" />
    <activity
        android:name="com.example.datastore.MainActivityDataStore"
        android:exported="true" />
    <activity
        android:name="com.example.setting.MainActivitySetting"
        android:exported="true" />
    <activity
        android:name="com.example.sharedpreference.FormUserPreferenceActivity"
        android:exported="false" />
    <activity
        android:name="com.example.sharedpreference.MainActivitySharedPreference"
        android:exported="true" />
    <activity
        android:name="com.example.saveopenfile.MainActivitySaveOpenFile"
        android:exported="true" />
    <activity
        android:name="com.example.livedata.MainActivityLiveData"
        android:exported="true" />
    <activity
        android:name="com.example.viewmodel.MainActivityViewModel"
        android:exported="true" />
    <activity
        android:name="com.example.restaurant.MainActivityRestaurant"
        android:exported="true" />
    <activity
        android:name="com.example.quote.ListQuoteActivity"
        android:exported="false" />
    <activity
        android:name="com.example.quote.MainActivityQuote"
        android:exported="true" />
    <activity
        android:name="com.example.backroundthread.MainActivityBackgroudThread"
        android:exported="true" />
    <activity
        android:name="com.example.tablayout.MainActivityTabLayout"
        android:exported="true">

    </activity>
    <activity
        android:name="com.example.bottomnavigation.MainActivity"
        android:exported="true"
        android:label="@string/title_activity_main" />
    <activity
        android:name="com.example.navigationdrawer.SubwayActivityDrawer"
        android:exported="false" />
    <activity
        android:name="com.example.navigationdrawer.MainActivityDrawer"
        android:exported="true"
        android:label="@string/title_activity_main_drawer"
        android:theme="@style/Theme.DicodingAndroid.NoActionBar" />
    <activity
        android:name="com.example.actionbar.MenuActivityActionBar"
        android:exported="false" />
    <activity
        android:name="com.example.actionbar.MainActivityActionBar"
        android:exported="true" />
    <activity
        android:name="com.example.navigation.ProfileActivityNavigation"
        android:exported="false" />
    <activity
        android:name="com.example.navigation.MainActivityNavigation"
        android:exported="true">
        <nav-graph android:value="@navigation/main_navigation" />
    </activity>
    <activity
        android:name="com.example.recycleview.UserDetail"
        android:exported="false" />
    <activity
        android:name="com.example.recycleview.RecycleViewActivity"
        android:exported="true" />
    <activity
        android:name="com.example.customview.CustomView"
        android:exported="true" />
    <activity
        android:name="com.example.constraint.ConstraintActivity"
        android:exported="false" />
    <activity
        android:name="com.example.view.MainViewActivity"
        android:exported="true" />
    <activity
        android:name="com.example.fragment.MainFragmentActivity"
        android:exported="true" />
    <activity
        android:name=".DebugActivity"
        android:exported="true" />
    <activity
        android:name=".MoveForResultActivity"
        android:exported="false" />
    <activity
        android:name=".MoveWithObject"
        android:exported="false" />
    <activity
        android:name=".MoveWithDataActivity"
        android:exported="false" />
    <activity
        android:name=".MoveActivity"
        android:exported="false" />
    <activity
        android:name=".MainActivity2"
        android:exported="true" />
</application>

</manifest>